* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #242424;
  color: #eee;
  display: flex;
  flex-direction: row;
  font: 400 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  height: 100vh;
}

input, button, textarea {
  font: 400 18px Roboto, sans-serif;
}

button {
  border: 0;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 86%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 80%;
  margin: 10px auto;
}

.box {
  background-color: #3a3a3a;
  border-radius: 20px;
  max-width: 540px;
  min-width: 300px;
  padding: 30px;
  text-align: center;
  width: 85%;
}

.box h2 {
  margin-bottom: 50px;
  font-size: 30px;
}

.box input {
  background-color: #636363;
  border: 0;
  border-radius: 10px;
  color: #ddd;
  display: block;
  line-height: 32px;
  margin-bottom: 40px;
  padding: 10px 20px;
  width: 100%;
}

::placeholder {
  color: #aaa;
}

.box button {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  line-height: 30px;
  background-color: #aaa;
}
.box button:hover {
}

.back-button {
  align-items: center;
  background-color: #3a3a3a;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 48px;
  height: 48px;
}

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 24px;
  }

  .box h2 {
    margin-bottom: 50px;
    font-size: 24px;
  }

  .box button {
    font-size: 20px;
  }
}
